append style
  link(rel="stylesheet", href="UI/list_view/list_view.scss")

append script
  script(type="text/javascript" src='UI/list_view/list_view.js')

mixin list_view__add_row(name, titles, value=0)
  div(names=titles, name=name).list_view__row
    div.list_view__title= name
    div(onclick="list_view__button_sub(this.parentElement)").list_view__sub_button -
    input.list_view__editor(type="text", value=value)
    div(onclick="list_view__button_add(this.parentElement)").list_view__add_button +

mixin list_view(default_caption = '', decls, short_view_decls=null, onchange=null)
  div('onchange'=onchange, short=short_view_decls, caption=default_caption).list_view__container
    div(onmousedown="list_view__show_popup(this)").list_view__header
      input(type="text", name="", value=default_caption, readonly=true).list_view__caption
      div.list_view__button 
    div.list_view__popup_container
      each row in decls
        +list_view__add_row((row.name == null)?row:row.name, row.decls)
      div.list_view__footer
        a(onclick="list_view__clear(this.parentElement.parentElement)").list_view__clear
          div Очистить
        a(onclick="list_view__accept(this.parentElement.parentElement)").list_view__accept
          div Применить        
