mixin double_slider(limit_min, limit_max, ondrag = null, id_prefix="", min=limit_min, max=limit_max)
  div(onchange=ondrag, ondragstart="return false;", limit_minimum=limit_min, limit_maximum=limit_max).double_slider__container
    input(type='hidden', id=id_prefix+'minimum', value=min)
    input(type='hidden', id=id_prefix+'maximum', value=max)
    div.double_slider__left
    div.double_slider__middle
    div.double_slider__right

mixin date_picker()
  div.date_picker__container
    div.date_picker__caption 19 авг - 23 авг
    div.date_picker__show_hide 